@page "/persons"
@inherits ComponentBase
@using DataSetService.Models

<h3>Persons</h3>

@if (persons == null)
{
    <p><em>Loading...</em></p>
}
else if (persons.Count == 0)
{
    <p>No records found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Efternamn</th>
                <th>Förnamn</th>
                <th>Kön</th>
                <th>Födelsedag</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in persons)
            {
                <tr>
                    <td>@p.Id</td>
                    <td><a href="/persons/@p.Id">@p.SurName</a></td>
                    <td>@p.FirstName</td>
                    <td>@p.Sex</td>
                    <td>@p.Birthday</td>
                </tr>
            }
        </tbody>
    </table>
}